*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards{
    border: 1px solid black;
}

.card{
    border: 1px solid red;
}

.cards img{
    float: right;
}

#imga{
    float: left;
}
.card:nth-child(3){
    /* clear: left; */
    clear: both;
    background-color: aqua;
}