*{
    font-family: "Madimi One", sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

h1{
    /* background-color: black; */
    color: red;
}

span{
    background-color: green;
}

.vgi_noida{

}

.head, span, #para_three{
    background-color: black;
}

/* h3{
    color: green;
    font-size: 100px;
} */

.heading{
    color: green;
    font-size: 100px;
}

b{
    color: blue;
}